.accountPage-container{
    width:100%;
    float:left;
    font-family:monospace;
    min-height:600px;
    padding:20px 0 20px 0;
    .label{
        width:100%;
        float:left;
        font-weight: bold;
        font-size:20px;
        text-align: center;
        font-family:Dancing Script;
        color:#88184c;
    }
    .profile-pic{
        width:100%;
        float:left;
        img{
            width: 50%;
            border-radius: 100px;
            margin-left: 25%;
            margin-top: 15px;
            margin-bottom: 15px;
            min-width: 100px;
            max-width: 300px;
            min-height:150px;
        }
    }
    .field-container{
        width:100%;
        float:left;
        height:250px;
        overflow-y: auto;
        .field-item{
            width:80%;
            float:left;
            padding:20px 10% 20px 10%;
            .field-label{
                width:100%;
                float:left;
                font-weight: bold;
                color:#88184c;
            }
            input,select{
                width: 100%;
                float: left;
                border: 0px;
                border-bottom: 2px solid #88184c;
                padding: 10px 1% 10px 1%;
                outline: none;
                font-family: monospace;
            }
        }
    }
    .action-container{
        width:100%;
        float:left;
        margin-top:20px;
        margin-bottom:20px;
        .action-item{
            width:70%;
            float:left;
            padding:10px 15% 10px 15%;
            button{
                width: 100%;
                float: left;
                background: #88184c;
                font-weight: bold;
                border: none;
                padding: 10px 0px 10px 0px;
                color: white;
                font-family: monospace;
                cursor: pointer;
            }
        }
    }
}