body{
    margin:0px;    
    background: #e6e6e6;

}
#root{
    width:25%;
    float:left;
    margin-left:37.5%;
    margin-right:37.5%;
    background: white;
}
@media only screen and (max-width: 1500px) and (min-width: 1201px){
    #root{
        width:30%;
        float:left;
        margin-left:35%;
        margin-right:35%;
        background: white;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 1001px){
    #root{
        width:40%;
        float:left;
        margin-left:30%;
        margin-right:30%;
        background: white;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 801px){
    #root{
        width:60%;
        float:left;
        margin-left:20%;
        margin-right:20%;
        background: white;
    }
}
@media only screen and (max-width: 800px) and (min-width: 501px){
    #root{
        width:80%;
        float:left;
        margin-left:10%;
        margin-right:10%;
        background: white;
    }
}
@media only screen and (max-width: 500px) and (min-width: 371px){
    #root{
        width:100%;
        float:left;
        margin:0px;
        background: white;
    }
}
@media only screen and (max-width: 371px) and (min-width: 1px){
    #root{
        width:400px;
        float:left;
        margin:0px;
        background: white;
    }
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:gray;
    opacity:0.5;
    z-index: 2;
}
.hide{
    display: none;
}
.loader-wrapper{
    position: fixed;
    z-index: 999;
    overflow: visible;    
    img{
        width:150px;    
    }             
}
.popUp-wrapper{
    position: fixed;
    z-index: 999;
    overflow: visible;
    box-shadow: 1px 2px 11px grey;
    background: white;
    font-family: monospace;
    .popUp-header-wrapper{
        width:100%;
        float:left;
        padding-top: 10px;
        padding-bottom:10px;
        background: #88184c;
        .popUp-header-text-wrapper{
            width:88%;
            float:left;
            padding-left:2%;
            color:white;
            font-weight: bold;
        }
        .popUp-close{
            width:10%;
            float:left;
            color:white;
            font-weight: bold;
            font-size:16px;
            cursor: pointer;
        }
    }
    .popUp-body-wrapper{
        width:95%;
        float:left;
        padding:10px 2.5% 10px 2.5%;
        .popUp-body-text-wrapper{
            width:100%;
            float:left;
            font-weight: bold;
        }
    }
    .popUp-footer-wrapper{
        width:95%;
        float:left;
        padding:5px 2.5% 5px 2.5%;
        border-top :1px solid #e3e3e3;
        .popUp-footer-text-wrapper{
            width:100%;
            float:left;
        }
        .popUp-footer-button-wrapper{
            width:100%;
            float:right;
            button{
                float:right;
                margin-right:10px;
                width: 50px;
                background: #88184c;
                font-weight: bold;
                border: none;
                padding: 5px 0px 5px 0px;
                color: white;
                font-family: monospace;
                cursor: pointer;            
            }
        }
    }
}
.disp-none{
    display:none;
}
