.content-container{
    width: 80%;
    float: left;
    margin: 0 10% 0 10%;
    .record-container{
        width:100%;
        float:left;
        .record{
            width:62%;
            float:left;
            padding-left:38%;
            margin-top:50px;
            .record-item,.record-item-half{
                float:left;
                margin-top:10px;
                margin-bottom:10px;
                select{
                    width: 250px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 2px;
                    font-family: Mali;
                }
                input{
                    width: 238px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-family: Mali;
                    padding-left: 2%;                
                }
                textarea{
                    width: 300px;
                    height: 100px;
                    padding-top: 10px;
                    padding-left: 1%;
                }
            }
            .record-item{                
                width:100%;
            }
            .record-item-half{
                width: 35%;
                select{
                    width: 50px;
                }
            }
            
        }
        .action-items{
            width:62%;
            float:left;
            padding-left:38%;
            margin-top:30px;
            button{
                margin-right: 3%;
                width: 150px;
                padding-top: 5px;
                padding-bottom: 5px;
                background: white;
                border: 1px solid #d9d9d9;
                border-radius: 3px;
                font-family: Mali;
                font-weight: bold;
                box-shadow: 1px 1px 1px grey;
            }
        }
    }
}
.view-container{
    width: 80%;
    float: left;
    margin: 0 10% 0 10%;
    padding-top:20px;
    .filter-container{
        width:100%;
        float:left;
        margin-top:20px;
        .filter-item{
            width:30%;
            float:left;
            margin-right:1%;
            .filter-item-title{
                font-family: Mali;
            }
            input{
                width: 238px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-family: Mali;
                padding-left: 2%;                
            }
        }
        .action-items{            
            width: 100%;
            float: left;
            margin-top: 20px;
            button{
                margin-right: 3%;
                width: 100px;
                padding-top: 5px;
                padding-bottom: 5px;
                background: white;
                border: 1px solid #d9d9d9;
                border-radius: 3px;
                font-family: Mali;
                font-weight: bold;
                box-shadow: 1px 1px 1px grey;
            }
        }
    }
    .result-container{
        width:100%;
        float:left;
        margin-top:50px;
        .result-wrapper{
            width:100%;
            float:left;
            height:400px;
            overflow-y:auto;
        }
        .result,.result-header{
            width:100%;
            float:left;   
            font-size:16px;
            .item{
                width:10%;
                float:left;
                padding-left:1%;
                padding-right:1%;
                .check{
                    width: 10px;
                    height: 10px;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    border: 3px solid #666666;
                    .checked{
                        width: 7px;
                        height: 7px;
                        position: relative;
                        top: 2px;
                        left: 17%;
                        background: gray;                    
                    }
                }
            }   
            .amount{
                text-align: right;
                padding-right: 8%;
                float: left;
                width: 10%;            
                span:first-child{
                    margin-right: 5%;
                }
            }
        }
        .result{
            width: 100%;
            float: left;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: monospace;
        }
        .result:nth-child(even) {
            background: #f3ecec;
        }
        .result-header{
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: Dancing script;
            font-size: 17px;
            font-weight: bold;
            box-shadow:1px 1px 4px gray;
        }
        .no-records{
            text-align: center;
            font-family: Dancing script;
            font-size: 17px;
        }
    }
    .action-items{            
        width: 100%;
        float: left;
        margin-top: 20px;
        button{
            margin-right: 3%;
            width: 100px;
            padding-top: 5px;
            padding-bottom: 5px;
            background: white;
            border: 1px solid #d9d9d9;
            border-radius: 3px;
            font-family: Mali;
            font-weight: bold;
            box-shadow: 1px 1px 1px grey;
        }
    }
}