.header-container{  
    height:80px;
    box-shadow: 1px 1px 5px #b2acac;
    .header-subcontainer{
        .title{
            width: 16%;
            float: left;
            font-family: 'Satisfy', cursive;
            padding-top: 25px;
            padding: 25px 2% 0 2%;
            color: rgba(133,20,75,1);
            font-size: 25px;
        }
        .header-tabs{
            width: 60%;
            float: left;
            padding-top: 43px;
            .header-tab{
                width: 100px;
                float: left;
                font-family: 'Roboto', sans-serif;
                color: gray;
                cursor: pointer;   
                text-align:center;            
            }
            .selected{
                border-bottom: 2px solid rgba(133,20,75,1);
                padding-bottom: 11px;
                font-weight: bold;
                color: rgba(133,20,75,1);
                font-family: Dancing script;
                font-size:20px;
            }
        }
    }
}