
.header-container{
    width:100%;
    float:left;
    .header-top-container{
        height:50px;
        box-shadow: 1px 1px 5px #b2acac;
        width:100%;
        float:left;
        position: relative;
        .title{
            width: 180px;
            float: left;
            font-family: 'Satisfy', cursive;
            color: #85144b;
            font-size: 22px;
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 100px;
            font-weight: bold;
        }
        .settings{
            width: 32px;
            height: 32px;
            float: right;
            margin-top: 9px;
            margin-right: 3px;     
            img{
                width: 28px;
                cursor: pointer;
                padding-left: 3px;
                float: right;
            }
        }
        .user-profile{            
            width: 30px;
            height: 30px;
            float: right;
            margin-top: 9px;
            .profile-pic{
                width: 30px;
            }
        }
        .settings-container{
            width: 200px;
            box-shadow: 1px 1px 7px grey;
            position: absolute;
            top: 52px;
            left: 47%;
            background: white;
            .setting-item{
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left:2%;
                font-weight: bold;
                font-family: monospace;
                cursor: pointer;
            }
            .setting-item:hover,.setting-item:focus{
               background:gray;
            }
        }
    }
    .header-bottom-container{
        width: 90%;
        float: left;
        padding-top: 5px;
        box-shadow: 1px 1px 0 #dddcdc;
        padding-left: 10%;    
        .header-tab {
            width: 100px;
            float: left;
            font-size: 18px;
            font-family: Dancing Script;
            padding-left: 10px;
            cursor: pointer;
            text-align: center;
        }
        .header-tab.selected {
            border-bottom: 4px solid rgba(133,20,75,1);
            padding-bottom: 11px;
        }
    }
}